.colorPicker {
    width: 400px;
    margin-top: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid black;
    background-color: whitesmoke;
}

.colorPicker_title {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.colorPicker_label {
    font-weight: bold;
    text-transform: uppercase;
}

.colorPicker__buttonBox {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.colorPicker__button {
    height: 40px;
    width: 40px;
    margin: 4px;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 250ms linear;
}

.colorPicker__button--active {
    transform: scale(1.5);
    transition: transform 250ms linear;
    border: 2px solid black;

}